.main-heading{
    background-color: white;
    color: red;
    font-size: 36;

}

.second-heading{
    background-color: aqua;
    color: black;
    font-size: 24;
}

.list{
    color: red;
    background-color: black;
}
